name: Checks

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "receitas-api"
          path: "."
          format: "HTML"
          out: "dependency-check-report"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Start Containers
        run: |
          docker compose -f docker-compose.yml up -d --build
